/* MEDIA QUERIES */
/* UTILITIES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #232323;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #4d92ca;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* border: 3px solid orange; */
  /* creates padding around scroll thumb */
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.8;
  margin: 10px 0;
}

input,
textarea {
  padding: 1rem;
  border: none;
  outline: none;
}

.test-flex {
  display: grid;
  grid-template-columns: [full-start] minmax(20px, 1fr) [container-start] repeat(12, [col-start] minmax(22px, 120px) [col-end]) [container-end] minmax(20px, 1fr) [full-end];
  background: #ccc;
  height: 80px;
}

.test-flex > * {
  grid-column: container-start / container-end;
}

.test-flex .wrapper {
  background: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
}

.test-flex ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.test-grid {
  display: grid;
  grid-template-columns: [full-start] minmax(20px, 1fr) [container-start] repeat(12, [col-start] minmax(22px, 120px) [col-end]) [container-end] minmax(20px, 1fr) [full-end];
  background: #fbe7ce;
  width: 100%;
  height: 100%;
  /* FROM IPAD PRO */
}

.test-grid > * {
  grid-column: container-start / container-end;
}

.test-grid .left-bg {
  width: 100%;
  height: 100%;
  background: #9ca2c7;
  grid-column: full-start/full-end;
  grid-row: 1;
  border-radius: 0 0 100px 0;
}

.test-grid .left-section {
  grid-column: container-start/container-end;
  grid-row: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.test-grid .right-section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  grid-column: container-start/container-end;
  grid-row: 2;
}

@media screen and (min-width: 1024px) {
  .test-grid .left-bg {
    grid-column: full-start/col-end 8;
    grid-row: 1;
  }
  .test-grid .left-section {
    grid-column: container-start/col-end 7;
    grid-row: 1;
  }
  .test-grid .right-section {
    grid-column: col-start 10/container-end;
    grid-row: 1;
  }
}

.text h1 {
  font-size: 47px;
}

.text h2 {
  font-size: 20px;
}

.text .btn {
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 100px;
  background: #435eaa;
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease;
}
/*# sourceMappingURL=styles.css.map */