@import "./utilities/vars";

@import "./utilities/mixins/mixins-breakpoints";
@import "./utilities/mixins/mixins-container";
@import "./utilities/mixins/mixins-utilities";
@import "./utilities/mixins/mixins-typo";

@import "./utilities/reset";
@import "./utilities/typo";

body {
    @include container;
}