@import "./utilities/vars";
@import "./utilities/mixins";
@import "./utilities/reset";
@import "./utilities/typo";
@import "./utilities/utilities";


.section {
    @include container($laptop13);

    * {
        min-height: 500px;
    }
}

.one {
    position: relative;
    background: red;
    grid-column: 2/7;
    max-height: 200px;
    z-index: 1;
    width: fit-content;
}

.two {
    background: green;
    grid-column: 5/-1;
}