/* MEDIA QUERIES */

$ipad: 768px;
$ipadPro: 1024px;
$laptop13: 1280px;
$laptop: 1440px;
$pc: 1920px;
$bigPc: 2560px;

@mixin ipad() {
    @media screen and (min-width: $ipad) {
        @content;
    }
}
@mixin ipadPro() {
    @media screen and (min-width: $ipadPro) {
        @content;
    }
}
@mixin laptop13() {
    @media screen and (min-width: $laptop13) {
        @content;
    }
}
@mixin laptop() {
    @media screen and (min-width: $laptop) {
        @content;
    }
}

@mixin pc() {
    @media screen and (min-width: $pc) {
        @content;
    }
}

@mixin bigPc() {
    @media screen and (min-width: $bigPc) {
        @content;
    }
}

