// Typo

@mixin typo-title($unit) {
    font-size: $unit * 0.8;
    line-height: 1.4;

    @include ipad {
        line-height: 1.5;
    }

    @include laptop13 {
        font-size: $unit * 0.95;
    }

    @include laptop {
        font-size: $unit * 1;
    }

    @include pc {
        font-size: $unit * 1.1;
    }
}

@mixin typo($unit) {
    line-height: 1.4;

    font-size: $unit * 1.1;

    @include ipad {
        line-height: 1.5;
    }

    @include laptop13 {
        font-size: $unit * 0.95;
    }

    @include laptop {
        font-size: $unit * 1;
    }

    @include pc {
        font-size: $unit * 1.1;
    }

    @include bigPc {
        font-size: $unit * 1.15;
    }
}

@mixin h1 {
    @include typo-title(60px);
}

@mixin h2 {
    @include typo-title(45px);
}

@mixin h3 {
    @include typo-title(35px);
}

@mixin p {
    @include typo(14px);
}
