/* MEDIA QUERIES */

$ipad: 768px;
$ipadPro: 1024px;
$laptop13: 1280px;
$laptop: 1440px;
$pc: 1920px;
$bigPc: 2560px;

@mixin ipad() {
    @media screen and (min-width: $ipad) {
        @content;
    }
}
@mixin ipadPro() {
    @media screen and (min-width: $ipadPro) {
        @content;
    }
}
@mixin laptop13() {
    @media screen and (min-width: $laptop13) {
        @content;
    }
}
@mixin laptop() {
    @media screen and (min-width: $laptop) {
        @content;
    }
}

@mixin pc() {
    @media screen and (min-width: $pc) {
        @content;
    }
}

@mixin bigPc() {
    @media screen and (min-width: $bigPc) {
        @content;
    }
}

/* UTILITIES */

@mixin pseudo($display: block, $position: absolute) {
    content: "";
    display: $display;
    position: $position;
}

@mixin container($max-width: $laptop) {
    display: grid;
    grid-template-columns:
        [full-start] minmax(30px, 1fr) [container-start] repeat(12, [col-start] minmax(22px, $max-width / 12) [col-end])
        [container-end]
        minmax(20px, 1fr) [full-end];
    > * {
        grid-column: container-start / container-end;
        grid-row: 1;
    }
}

@mixin transition($time: 0.4s, $interpolation: ease) {
    transition: $time $interpolation;
}

@mixin btn($width, $height, $radius, $bg, $color) {
    display: block;
    width: $width;
    height: $height;
    line-height: $height;
    text-align: center;
    border-radius: $radius;
    background: $bg;
    color: $color;
    cursor: pointer;
    @include transition();
}

@mixin fit-content-w {
    width: -moz-fit-content;
    width: fit-content;
}

@mixin fit-content-h {
    height: -moz-fit-content;
    height: fit-content;
}

// Typo

@mixin responsive-text($unit) {
    font-size: $unit;
    line-height: 1.4;

    @include ipad {
        font-size: $unit * 1.2;
        line-height: 1.5;
    }

    @include laptop13 {
        font-size: $unit * 1.4;
    }

    @include laptop {
        font-size: $unit * 1.8;
    }

    @include pc {
        font-size: $unit * 2.2;
    }
}
