h1 {
    font-size: 70px;
    line-height: 1.3;

    @include laptop13 {
        font-size: 90px;
        line-height: 1.4;
    }

    @include laptop {
        font-size: 120px;
        line-height: 1.5;
    }
}

h2 {
    font-size: 25px;
    line-height: 1.3;

    @include laptop13 {
        font-size: 30px;
        line-height: 1.4;
    }

    @include laptop13 {
        font-size: 35px;
        line-height: 1.5;
    }
}

p {
    font-size: 15px;
    line-height: 1.3;

    @include laptop13 {
        font-size: 16px;
        line-height: 1.4;
    }

    @include laptop {
        font-size: 17px;
        line-height: 1.5;
    }
}