/* FONTS */

$font-primary: Arial, Helvetica, sans-serif;

/* COLORS */

$white: #fff;
$black: #232323;

/* SHADOWS */

$shadow-light: -2px 2px 10px rgba(#000, .07);
$shadow-medium: 0px 7px 20px rgba(#000, .2);
$shadow-dark: 0px 20px 40px rgba(#000, .3);
