$one: 20px;
$two: 40px;
$three: 60px;
$four: 80px;
$five: 100px;


.mt-1 {
    margin-top: $one;
}
.mt-2 {
    margin-top: $two;
}
.mt-3 {
    margin-top: $three;
}
.mt-4 {
    margin-top: $four;
}
.mt-5 {
    margin-top: $five;
}

.mb-1 {
    margin-bottom: $one;
}
.mb-2 {
    margin-bottom: $two;
}
.mb-3 {
    margin-bottom: $three;
}
.mb-4 {
    margin-bottom: $four;
}
.mb-5 {
    margin-bottom: $five;
}

.my-1 {
    margin-bottom: $one;
    margin-top: $one;
}
.my-2 {
    margin-bottom: $two;
    margin-top: $two;
}
.my-3 {
    margin-bottom: $three;
    margin-top: $three;
}
.my-4 {
    margin-bottom: $four;
    margin-top: $four;
}
.my-5 {
    margin-bottom: $five;
    margin-top: $five;
}