@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* FONTS */
$font-primary: "Poppins", sans-serif;

/* COLORS */

$white: #fff;
$black: #000;

// BREAKPOINTS

$ipad: 768px;
$ipadPro: 1024px;
$laptop13: 1280px;
$laptop: 1440px;
$pc: 1920px;
$bigPc: 2560px;

// CONTAINER MAX-WIDTH

$container-max-width: 1200px;
